{% extends 'obase.html' %} {% load static %} {% block page_title %} | Core {% endblock %} {% block content %}


<section class="header">
    <div class="row">
        <div class="col-12 mt-2">
            <h1>NU Game</h1>
        </div>
    </div>
</section>

<section class="name">
    <div class="row">
        <div class="col-12">
            <p>Welcome Player - Please input your name using the form to enter the game</p>
        </div>
        <div class="col-12">
            <div class="name-form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="player-name" placeholder="Name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="name-sumbit" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="save">
    <div class="row text-center">
        <div class="col-6">
            <button class="btn btn-success" id="saveButton">Save Game!</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success" id="deleteButton">Delete Game</button>
        </div>
    </div>
</section>

<section class="stats">
    <div class="stat-nav">
        <div class="row text-center">
            <div class="col-4 col-md-2">
                <p class="display-stat">Name: <span id="playerName"></span> - <span id="playerLevel"></span></p>
            </div>
            <div class="col-4 col-md-2">
                <p class="display-stat">Health: <span id="playerHealth"></span>/<span id="playerMaxHp"></span></p>
            </div>
            <div class="col-4 col-md-2">
                <p class="display-stat">Gold: <span id="playerGold"></span></p>
            </div>
            <div class="col-4 col-md-2">
                <p class="display-stat">XP: <span id="playerXp"></span></p>
            </div>
            <div class="col-4 col-md-2">
                <p class="display-stat">Power: <span id="playerPower"></span></p>
            </div>
            <div class="col-4 col-md-2">
                <p class="display-stat">Speed: <span id="playerSpeed"></span></p>
            </div>
        </div>
    </div>
</section>

<section class="buttons">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <p>Choose a Fight!</p>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-success" id="startEasy">Easy</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-success" id="startMedium">Medium</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-success" id="startHard">Hard</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-danger" id="startBoss">Boss</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <button class="btn btn-warning" id="enterShop">Shop</button>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-warning" id="enterTraining">Training</button>
        </div>
    </div>
</section>

<section class="combat">
    <div class="row text-center mb-3">
        <div class="col-6">
            <button class="btn btn-warning" id="attackButton">Attack</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success" id="healButton">Heal</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5>Enemy: <span id="enemyName"></span></h5>
            <p>Enemy Health: <span id="enemyHealth"></span>/<span id="enemyMaxHp"></span></p>
        </div>
    </div>
    <div class="row" id="#hitResults">
        <div class="col-12 text-center">
            <h4 id="playerCrit">
            </h4>
            <h5 id="playerHitResult">
            </h5>
            <h4 id="enemyCrit">
            </h4>
            <h5 id="enemyHitResult">
            </h5>
        </div>
    </div>
</section>

<section class="shop">
    <div class="row">
        <div class="col-12">
            <h3>Shop!</h3>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-md-6 col-12">
            <h4>Upgrade Power Cost: <span id="powerUpgrade"></span></h4>
            <button class="btn btn-success" id="buyPower">Upgrade Power</button>
        </div>
        <div class="col-md-6 col-12">
            <h4>Upgrade Speed Cost: <span id="speedUpgrade"></span></h4>
            <button class="btn btn-success" id="buySpeed">Upgrade Speed</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-warning" id="leaveShop">Leave Shop</button>
        </div>
    </div>
</section>

<section class="training">
    <div class="row">
        <div class="col-12">
            <h3>Training!</h3>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-12">
            <h4>Level Up Cost: <span id="levelUpgrade"></span></h4>
            <button class="btn btn-success" id="buyLevel">Level Up</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-warning" id="leaveTraining">Leave Training</button>
        </div>
    </div>
</section>

<section class="load">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" id="loadButton">Load Game!</button>
        </div>
    </div>
</section>

<section class="results mt-3">
    <div class="row text-center">
        <div class="col-12">
            <h5 id="winnerResult"></h5>
            <h5 id="goldResult"></h5>
            <h5 id="xpResult"></h5>
        </div>
    </div>
</section>

<section class="die">
    <div class="row">
        <div class="col-md-4 col-12">
        </div>
        <div class="col-md-4 col-12">
        </div>
        <div class="col-md-4 col-12"></div>
    </div>
</section>


{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/orun.js' %}"></script>
{% endblock %}