{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | Add Hero {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back to World Index</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>New Hero</h1>
    </div>
</div>

<form role="form" method="post" id="new_base" action="{% url 'add_new_hero' %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <p>Choose Your Name</p>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ name_form.name|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="submit_hero" name="commit" type="submit" value="Add Hero">
            </div>
        </div>
        <br>
    </div>
</form>


{% endblock %}