{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | Edit {{ this_base }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'world_panel' %}" role="button" class="btn btn-warning" aria-disabled="false">Back to World Panel</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h2>Editing {{ this_base }}</h2>
    </div>
</div>

<form role="form" method="post" id="edit_base">
    <div class="form-group body-text">
        {% csrf_token %}
        <h4>Edit {{ this_base }}:</h4>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ edit_form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ edit_form.level|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ edit_form.current_hp|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ edit_form.max_hp|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ edit_form.alignment|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ edit_form.speed|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ edit_form.power|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ edit_form.gold|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ edit_form.xp|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="edit_base" name="commit" type="submit" value="Edit Base">
            </div>
        </div>
        <br>
    </div>
</form>


{% endblock %}