{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ hero }} {% endblock %} {% block content %}

<section class="button-nav">
    <row class="mb-5">
        <div class="col-12">
            <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back to World Index</a>
        </div>
    </row>
</section>


<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="weighted-lead">{{ hero }}</h1>
            <p>{{ hero.alignment }}</p>
        </div>
    </div>
</section>

<section class="hero mb-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><span id="hero-name">{{ hero }}</span> - <span class="small" id="hero-level">{{ hero.level }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span id="hero-current-hp">{{ hero.current_hp }}</span>/<span id="hero-max-hp">{{ hero.max_hp }}</span></h6>
                    <div class="row">
                        <div class="col-6">
                            <h5>Gold: <span id="hero-gold">{{ hero.gold }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>XP: <span id="hero-xp">{{ hero.xp }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Power: <span id="hero-power">{{ hero.power }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>Speed: <span id="hero-speed">{{ hero.speed }}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <button class="btn btn-success" id="attackButton">Attack Button</button>
        </div>
    </div>
</section>

<section class="combat">
    <div class="row text-center">
        <div class="col-12">
            <a href="#" role="button" class="btn btn-warning" aria-disabled="false">Save Combat</a>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/run.js' %}"></script>
{% endblock %}