{% extends 'base.html' %} {% load static %} {% block page_title %} | World Panel {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back to World Index</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="weighted-lead">World Panel</h1>
        </div>
    </div>
</section>

<section class="players">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'add_new_hero' %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Add New Hero</a>
            <h2>Heroes: </h2>
            <ul class="hero-list">
                {% for h in heroes %}
                <li class="hero-list-item">
                    <a href="{% url 'single_hero' h.id %}" class="hero-list-name"> - {{ h.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">{% if request.user.profile.staff_access %}
            <a href="{% url 'add_new_enemy' %}" role="button" class="btn btn-danger mb-3" aria-disabled="false">Add New Enemy</a>
            <h2>Enemies: </h2>
            <ul class="hero-list">
                {% for e in enemies %}
                <li class="hero-list-item enemy-item">
                    <a href="{% url 'single_hero' e.id %}" class="hero-list-name"> - {{ e.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}