{% extends 'base.html' %} {% load static %} {% block page_title %} | World {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="weighted-lead">World Index!</h1>
        </div>
    </div>
</section>

<section class="hero">
    <div class="row">
        <div class="col-12">
            <h2>Heroes: </h2>
            <a href="{% url 'add_new_hero' %}" role="button" class="btn btn-warning" aria-disabled="false">Add New Hero</a>
        </div>
    </div>
</section>

{% endblock %}