{% extends 'base.html' %} {% load static %} {% block page_title %} Combat | {{ this_save }} {% endblock %} {% block content %}

<section class="hero-stats mb-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><span id="hero-name">{{ this_save.hero }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span id="hero-current-hp">{{ this_save.current_hp }}</span>/<span id="hero-max-hp">{{ this_save.max_hp }}</span></h6>
                    <div class="row">
                        <div class="col-12">
                            <p>Level <span id="hero-level">{{ this_save.level }}</span></p>
                        </div>
                        <div class="col-6">
                            <h5>Gold: <span id="hero-gold">{{ this_save.gold }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>XP: <span id="hero-xp">{{ this_save.xp }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Power: <span id="hero-power">{{ this_save.power }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>Speed: <span id="hero-speed">{{ this_save.speed }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Kills: <span id="hero-kills">{{ this_save.kills }}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="combat mb-5">
    <div class="row" id="button-row">
        <div class="col-4 text-center">
            <button id="attack-button" class="btn btn-success">Attack!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h5 id="player-result"></h5>
            <h5 class="mb-2" id="enemy-result"></h5>
            <h5 id="win-results"></h5>
        </div>
    </div>
</section>

<section class="enemy-stats">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><span id="enemy-name">{{ enemy }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span id="enemy-current-hp">{{ enemy.current_hp }}</span>/<span id="enemy-max-hp">{{ enemy.max_hp }}</span></h6>
                    <div class="row">
                        <div class="col-12">
                            <p>Level <span id="enemy-level">{{ enemy.level }}</span></p>
                        </div>
                    </div>
                    <div class="row" id="enemy-drops">
                        <div class="col-6">
                            <h5>Gold: <span id="enemy-gold">{{ enemy.gold }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>XP: <span id="enemy-xp">{{ enemy.xp }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Power: <span id="enemy-power">{{ enemy.power }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>Speed: <span id="enemy-speed">{{ enemy.speed }}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/run.js' %}"></script>
{% endblock %}