{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ this_save }} {% endblock %} {% block content %}


<section class="hero mb-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><span id="hero-name">{{ this_save.hero }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span id="hero-current-hp">{{ this_save.current_hp }}</span>/<span id="hero-max-hp">{{ this_save.max_hp }}</span></h6>
                    <div class="row">
                        <div class="col-12">
                            <p>Level <span id="hero-level">{{ this_save.level }}</span></p>
                        </div>
                        <div class="col-6">
                            <h5>Gold: <span id="hero-gold">{{ this_save.gold }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>XP: <span id="hero-xp">{{ this_save.xp }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Power: <span id="hero-power">{{ this_save.power }}</span></h5>
                        </div>
                        <div class="col-6">
                            <h5>Speed: <span id="hero-speed">{{ this_save.speed }}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Kills: <span id="hero-kills">{{ this_save.kills }}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="action-buttons">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'fight' this_save.id %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Fight</a>
        </div>
    </div>
</section>

{% endblock %}