{% extends 'base.html' %} {% load static %} {% block page_title %} | Start Menu {% endblock %} {% block content %}


<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="weighted-lead mb-3">Enter The World Of Grindhouse</h1>
        </div>
    </div>
</section>

<section class="hero">
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Choose a Hero:</h2>
        </div>
        {% for h in heroes %}
        <div class="col-6 text-center">
            <h4>{{ h.name }}</h4>
            {% if h in save_slots %}
            <a href="{% url 'save_slot' h.save_slot.id %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Resume Game</a> <br>
            <a href="{% url 'delete_save' h.save_slot.id %}" role="button" class="btn btn-danger" aria-disabled="false" onclick="return confirm('Are you sure you to delete {{ h.name }} saves?');">Delete Save</a> {% else %}
            <a href="{% url 'start_new_game' h.id %}" role="button" class="btn btn-warning" aria-disabled="false">Start New Game</a> {% endif %}
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}