{% extends 'base.html' %} {% load static %} {% block page_title %} | Start Menu {% endblock %} {% block content %}


<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="weighted-lead mb-3">Enter The World Of Grindhouse</h1>
        </div>
    </div>
</section>

<section class="hero">
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Choose a Hero:</h2>
        </div>
        {% for h in heroes %}
        <div class="col-4 text-center">
            <h4>{{ h.name }}</h4>
            {% if h in save_slots %}
            <p>Resume Save</p>
            {% else %}
            <a href="{% url 'start_new_game' h.id %}" role="button" class="btn btn-warning" aria-disabled="false">Start New Game</a> {% endif %}
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}