@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap');

/* Background */

.bg {
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
}


/* NavBar */

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar li a:hover {
    color: white;
}

.stat-nav {
    padding: 16px 8px;
}


/* Conbat */

.combat,
.stat-nav,
.buttons,
.shop,
.training {
    display: none;
}


/* Forms */

.name-form {
    display: inline-block;
    width: 100%;
}