{% extends 'base.html' %} {% block page_title %} | {{ profile }}'s Profile{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <h2>{{ profile }}'s profile</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col-6">
        <h3>Heroes:</h3>
        <ul class="hero-list">
            {% for h in heroes %} {% if h.alignment == "Player" %}
            <li class="hero-list-item">
                <a href="{% url 'single_hero' h.id %}" class="hero-list-name"> - {{ h.name }}</a> {% endif %}
            </li> {% endfor %}
        </ul>
    </div>
    {% if user.profile.staff_access %}
    <div class="col-6">
        <h3>Enemies:</h3>
        <ul class="hero-list">
            {% for h in heroes %} {% if h.alignment == "Enemy" %}
            <li class="hero-list-item enemy-item">
                <a href="{% url 'single_hero' h.id %}" class="hero-list-name"> - {{ h.name }}</a> {% endif %}
            </li> {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% if user.profile.staff_access %}
<div class="row">
    <div class="col-12 text-center mb-3">
        <a href="{% url 'admin_panel' %}" role="button" class="btn btn-success" id="admin-panel" aria-disabled="false">Admin Panel</a>
    </div>
</div>
{% endif %} {% endblock %}